*.o

./
0 Hello/helloworld

2 User Input/userinput
3 Adder/adder
1 Addressing/addressing
4 Stars/stars
5 Multiplication/multiply
7 File Management/create
9 Macros/printer/print
9 Macros/add/adder
7 File Management/a Create/create
